.tiendas-mansory {
  column-count: 2;
  column-gap: 1em;
}
.tiendas-item {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  margin-bottom: 17px;
}
.tiendas-main {
  margin: auto;
}

.tiendas-main p {
  margin: 0;
  padding-left: 4px;
}

.tiendas-main h1 {
  font-family: montserrat, Fabriga, -apple-system, BlinkMacSystemFont,
    avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: rgb(33, 26, 127);
}

.tiendas-main h3 {
  margin: 0;
  padding: 10px;
  background-color: #25306e;
  color: white;
  font-family: montserrat, Fabriga, -apple-system, BlinkMacSystemFont,
    avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  font-weight: bold;
  font-size: xx-large;
  border-radius: 0 20px;
}
.tiendas-main h4 {
  border-bottom: solid;
}
.tiendas-subitem {
  display: flex;
  padding: 3px;
}

@media (max-width: 499px) {
  .tiendas-mansory {
    column-count: 1;
    column-gap: 1em;
  }
}
