.container ul{
    list-style: none;
    padding: 0 11px;
    margin: 4px;
}
.container ul li{
    padding:8px;
    /* border-bottom: 1px solid #dadada; */
    cursor: pointer;
}
.container ul li a{
    text-decoration: none;
    color: black;
}
.container .header{
    font-family:  montserrat, Fabriga, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    display: flex;
    position: sticky;
    top: 0;
    background: white;
}
.container .icon-close{
    padding: 4px;
    background: #80808091;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: 13px;
    top: 2px;
    border: none;
}

.icon-open-submenu{
    display:flex;
    justify-content: space-between;
}
.nameCategory{
    flex-grow: 1;
    display: inline-block;
}
.title{
    font-weight: bold;
    cursor: pointer;
    color: gray;
}

.liquidacion{
    color: red;
    font-weight: bold;
  } 



.menu-open-mobile {
    transform: translateX(0%);
    transition: all 1s;
}

.hidden {
    display: none;
}

.show {
    display: block;
}