.menu {
  z-index: 1;
  height: 100%;
  list-style: none;
}

.menu li:hover > ul {
  /* display: grid; */
  opacity: 1;
  transition: all 1s;
  visibility: visible !important;
  transform: translateY(0px);
}

.submenu {
  display: grid;
  position: fixed;
  padding: 9px;
  border-radius: 10px;
  background: white;
  height: auto;
  padding-top: 13px;
  white-space: pre-wrap;
  -webkit-box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  width: 93%;
  grid-template-columns: repeat(10, 1fr);
  text-align: center;
  right: 3%;
  text-transform: uppercase;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
}
.submenu li {
  font-size: 13px;
}

.subsubmenu {
  position: absolute;
  padding: 9px;
  border-radius: 10px;
  background: white;
  height: auto;
  background: white;
  width: auto;
  border: 1px solid #dadada;
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  max-height: 280px;
  display: flex;
  flex-direction: column;
}

.subsubmenu::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

.subsubmenu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px #e1e0e0;
}

.subsubmenu::-webkit-scrollbar-thumb {
  background-color: #1c2d8c;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px #e1e0e0;
}

body::-webkit-scrollbar-thumb {
  background-color: #002a36;
}

.menu ul {
  list-style: none;
}

.menu li {
  position: relative;
  padding: 6px;
  white-space: nowrap;
  padding-left: 7px;
  margin: 6px;
  display: inline;
}

.menu li:hover {
  color: rgb(233, 15, 113);
  transform: scale(1.1);
  z-index: 2;
}

.menu > li {
  background: transparent;
  border: none;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
.menu > li > a {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.menu .submenu li a {
  text-decoration: none;
  color: black;
  text-align: center;
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.labelMain {
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  color: black;
  cursor: pointer;
}

.imgSubitem {
  width: 50%;
  display: block;
  margin: 9px;
}

.liquidacion{
  color: red !important;
}


.rotate-up-center {
	-webkit-animation: rotate-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s infinite alternate-reverse both;
	        animation: rotate-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s infinite alternate-reverse both;
}

 @-webkit-keyframes rotate-up-center {
    0% {
      -webkit-transform: rotate(3deg);
              transform: rotate(3deg);
    }
    100% {
      -webkit-transform: rotate(-3deg);
              transform: rotate(-3deg);
    }
  }
  
  @keyframes rotate-up-center {
    0% {
      -webkit-transform: rotate(3deg);
              transform: rotate(3deg);
    }
    100% {
      -webkit-transform: rotate(-3deg);
              transform: rotate(-3deg);
    }
  }