.open-child {
    display: block;
}

.close-child {
    display: none;
}

.item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 3px;
    font-weight: 600;
    border-bottom: 1px solid #dadada;
}

.item-content button {
    border: none;
    border-radius: 7px;
}
.liquidacion{
    color: red !important;
  }